In [1]:
import pandas as pd
import numpy as np

In [2]:
sal=pd.read_csv('Salaries.csv')

In [9]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [63]:
sal[sal.TotalPayBenefits==sal.TotalPayBenefits.min()].EmployeeName

148653    Joe Lopez
Name: EmployeeName, dtype: object

In [31]:
sal[sal.EmployeeName=='JOSEPH DRISCOLL'].TotalPayBenefits

24    270324.91
Name: TotalPayBenefits, dtype: float64

In [8]:
sal['BasePay'].mean()

66325.4488404877

In [65]:
sal.BasePay.mean()

66325.4488404877

In [69]:
sal.groupby('Year').mean().BasePay

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [142]:
sum(sal[sal.Year==2013].JobTitle.value_counts()==1)

202

In [143]:
sal.JobTitle

0           GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1                          CAPTAIN III (POLICE DEPARTMENT)
2                          CAPTAIN III (POLICE DEPARTMENT)
3                     WIRE ROPE CABLE MAINTENANCE MECHANIC
4             DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
5                                ASSISTANT DEPUTY CHIEF II
6                       BATTALION CHIEF, (FIRE DEPARTMENT)
7                           DEPUTY DIRECTOR OF INVESTMENTS
8                       BATTALION CHIEF, (FIRE DEPARTMENT)
9                   CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)
10        ASSISTANT CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)
11                         CAPTAIN III (POLICE DEPARTMENT)
12                             EXECUTIVE CONTRACT EMPLOYEE
13                                       DEPARTMENT HEAD V
14                      BATTALION CHIEF, (FIRE DEPARTMENT)
15                      COMMANDER III, (POLICE DEPARTMENT)
16                                       DEPARTMENT HEAD V
17                   CAPTAIN, EMERGENCYCY MEDICAL SERVICES
18                      BATTALION CHIEF, (FIRE DEPARTMENT)
19                              ASSISTANT MEDICAL EXAMINER
20                              ASSISTANT MEDICAL EXAMINER
21                              ASSISTANT MEDICAL EXAMINER
22                               CAPTAIN, FIRE SUPPRESSION
23                      BATTALION CHIEF, (FIRE DEPARTMENT)
24                               CAPTAIN, FIRE SUPPRESSION
25                                         CHIEF OF POLICE
26                               CAPTAIN, FIRE SUPPRESSION
27                      BATTALION CHIEF, (FIRE DEPARTMENT)
28                    DEPUTY CHIEF III (POLICE DEPARTMENT)
29            DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
                                ...
148624                                        Senior Clerk
148625                                    Registered Nurse
148626                                       Account Clerk
148627                                     General Laborer
148628                                     General Laborer
148629                                  Transcriber Typist
148630                                           Carpenter
148631                         Communications Dispatcher 1
148632                          Protective Services Worker
148633                                     General Laborer
148634                                 Transit Car Cleaner
148635                                     General Laborer
148636                                 Arborist Technician
148637                              Transit Fare Inspector
148638                                         Electrician
148639                                           Custodian
148640                             Parking Control Officer
148641                                        Museum Guard
148642                                         Sign Worker
148643                             Parking Control Officer
148644                        Stationary Eng, Sewage Plant
148645                           Human Services Technician
148646                                        Not provided
148647                         Communications Dispatcher 2
148648                                           Custodian
148649                                           Custodian
148650                                        Not provided
148651                                        Not provided
148652                                        Not provided
148653                          Counselor, Log Cabin Ranch
Name: JobTitle, Length: 148654, dtype: object

In [151]:
def hh(JobTitle):
    if 'chief' in JobTitle.lower():
        return True
sum(sal.JobTitle.apply(hh)== True)

627

In [152]:
ecom=pd.read_csv('Ecommerce Purchases')

In [153]:
ecom.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

In [188]:
ecom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
Address             10000 non-null object
Lot                 10000 non-null object
AM or PM            10000 non-null object
Browser Info        10000 non-null object
Company             10000 non-null object
Credit Card         10000 non-null int64
CC Exp Date         10000 non-null object
CC Security Code    10000 non-null int64
CC Provider         10000 non-null object
Email               10000 non-null object
Job                 10000 non-null object
IP Address          10000 non-null object
Language            10000 non-null object
Purchase Price      10000 non-null float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

In [167]:
ecom['Purchase Price'].min()

0.0

In [180]:
ecom['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

In [187]:
ecom['Job'].value_counts().head(5)

Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Purchasing manager               27
Designer, jewellery              27
Name: Job, dtype: int64

In [194]:
ecom[ecom.Lot=='90 WT']['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

In [209]:
ecom[ecom['Credit Card']==4926535242672853]

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
1234,"2470 Maria Manors Suite 185\nJoneshaven, MN 87251",82 UX,PM,Mozilla/5.0 (X11; Linux x86_64; rv:1.9.5.20) G...,"Cole, King and Bowers",4926535242672853,09/21,188,American Express,bondellen@williams-garza.com,Planning and development surveyor,159.182.3.50,ru,77.88

In [266]:
ecom[(ecom['CC Provider']=='American Express')&(ecom['Purchase Price']>95)].count()

Address             39
Lot                 39
AM or PM            39
Browser Info        39
Company             39
Credit Card         39
CC Exp Date         39
CC Security Code    39
CC Provider         39
Email               39
Job                 39
IP Address          39
Language            39
Purchase Price      39
dtype: int64

In [257]:
def d(x):
    if x.split('/')[1]=='25':
        return True
sum(ecom['CC Exp Date'].apply(d)==True)

1033

In [258]:
def f(e):
    return e.split('@')[1]

In [263]:
ecom['Email'].apply(f).value_counts().head(5)

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64